@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton {
    @apply animate-pulse bg-primary;
}

@mixin vertical-list {
    @apply flex flex-col;
}

.vertical-list {
    @include vertical-list;
    @apply gap-4;
}

// This removes the default arrows from number inputs
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
        appearance: none;
    }
}

// This is needed so that last button has rounded corners even if there is something after it
.btn-group {
    .btn:last-of-type:not(:first-of-type) {
        border-top-left-radius: 0;
        border-top-right-radius: var(--rounded-btn, 0.5rem);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: var(--rounded-btn, 0.5rem);
    }
}

.btn-instagram {
    color: white;
    background-image: linear-gradient(
        72.44deg,
        #ff7a00 11.92%,
        #ff0169 51.56%,
        #d300c5 85.69%
    );
}

.min-h-s-screen {
    min-height: calc(100vh - 4rem);
    min-height: 100svh;
}

@keyframes bounce {
    0%, 100% {
        transform: none;
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    25% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
    70% {
        transform: translateY(10%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
}
.animate-bounce-once {
    animation: bounce alternate 1s 1;
}